<div class="mt-5">
    <form method="post" action="">
        <div class="form-group">
            <label for="search">Search</label>
            <input type="text" class="form-control" id="search" name="q" aria-describedby="search" placeholder="Type">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>   
    </form>
</div>